# Virtual Environments
venv/
app_venv/
env/

# Secrets and Local Configs
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
query_logs.txt
err.txt

# Operating System Files
.DS_Store
**/.DS_Store
Thumbs.db

# Vector DB Storage
qdrant_storage/
qdrant_storage_test/
